# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
          P2P通道可以节省许多AE线缆！
          末影接口的电容可以在地牢找到，有的属性甚至强于八位电容
          末影接口的种植站和沉浸的园艺玻璃罩都是做自动化农场的好帮手
          工业先锋的岩浆制造机可以消耗大量的电产岩浆
          更多实用设备里的物品节点加上采掘升级可以自动生产圆石
          更多实用设备里的速度升级，天使指环都需要GP能量！
          工业先锋的收割机可以收获很多模组的作物
          mek的原子分解机可以充当万能工具，并且拥有高达20的伤害
          mek聚变反应堆和涡轮机配合可以让发电量上亿！
          NC的许多流体和MEK的通用！
          混沌龙生成在末地X Z轴为10000倍数的地方
          下界之星在后期是个很重要的材料！
          整合包中各种模组的矿粉都可以在合成台转成热力的
          环境科技的虚空采矿机是后期主要采矿设备
          流体也可以用来在物质聚合器内做奇点
          热力的凛冰超导能量管道没有传电上限！
          mek的输导矩阵是中期存电的好东西
          末影接口的空间传送器，mek的量子传送装置都可以远距离甚至跨空间传输物品流体能量
          ME存储总线贴在抽屉管理器上可以跟与抽屉管理器相连的所有抽屉进行交互
          中子流体可以用核电工艺的聚变反应堆获取，用来生产中子素锭
          热力的蓄水器可以不用耗电进行抽水
          mek的数字采矿机可以精准的点对点采矿
          量子采矿场和镭射钻都可以消耗大量能量造矿
          发展环境科技最好准备个仙人掌农场
          龙研的能量库是后期性价比比较高的存电设施
          龙研的神龙反应堆非常危险！谨慎使用
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


